absl-py
accelerate
acoustics
aiohappyeyeballs
aiohttp
aiosignal
altair
antlr4-python3-runtime
asttokens
astunparse
attrs
audiomentations
audioread
blinker
branca
Brotli
cachetools
certifi
cffi
charset-normalizer
click
cloudpickle
colorama
comm
contourpy
cycler
datasets
debugpy
decorator
demucs
dill
dora_search
einops
et_xmlfile
executing
ffmpeg-python
filelock
flatbuffers
folium
fonttools
frozenlist
fsspec
future
gast
geographiclib
geopandas
geopy
gitdb
GitPython
google-pasta
grpcio
h5py
huggingface-hub
idna
imageio
imageio-ffmpeg
inflate64
ipykernel
ipython
ipython_pygments_lexers
jams
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
julius
jupyter_client
jupyter_core
keras
kiwisolver
lameenc
lazy_loader
libclang
librosa
lightning-utilities
llvmlite
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mir_eval
ml_dtypes
moviepy
mpmath
msgpack
multidict
multiprocess
multivolumefile
namex
narwhals
nest-asyncio
networkx
numba
numpy
numpy-minmax
numpy-rms
omegaconf
openpyxl
openunmix
opt_einsum
optree
osmnx
packaging
pandas
parso
pillow
platformdirs
pooch
proglog
prompt_toolkit
propcache
protobuf
psutil
pure_eval
py7zr
pyarrow
pybcj
pycparser
pycryptodomex
pydeck
pydub
Pygments
pyogrio
pyparsing
pyppmd
pyproj
python-dateutil
python-dotenv
python-stretch
pytz
pywin32
PyYAML
pyzmq
pyzstd
referencing
regex
requests
resampy
retrying
rich
rpds-py
safetensors
scikit-learn
scipy
seaborn
setuptools
shapely
six
smmap
sortedcontainers
soundata
soundfile
soxr
stack-data
streamlit
submitit
sympy
tabulate
tdqm
tenacity
tensorboard
tensorboard-data-server
tensorflow-hub
termcolor
texttable
tf_keras
threadpoolctl
tokenizers
toml
torch
torchaudio
torchmetrics
torchsummary
torchvision
tornado
tqdm
traitlets
transformers
treetable
typing_extensions
tzdata
urllib3
watchdog
wcwidth
Werkzeug
wheel
wrapt
xgboost
xxhash
xyzservices
yarl
